* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  margin: 0;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#image,
#img-caption {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 550px;
  text-align: center;
  padding-bottom: 1rem;
}

#title-div {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

#title-div p {
  font-size: 2rem;
}

#quote p {
  background: #f1f1f1;
  text-align: center;
  color: #333;
  padding-top: 1rem;
  margin: 0 auto;
  font-weight: 500;
}

#speaker {
  padding-bottom: 1rem;
}

#tribute-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  font-size: 1.5rem;
  padding: 2rem;
  grid-template-areas:
    "bio1 bio2"
    "bio3 bio4";
}

#bio1 {
  grid-area: bio1;
}
#bio2 {
  grid-area: bio2;
}
#bio3 {
  grid-area: bio3;
}
#bio4 {
  grid-area: bio4;
  margin-top: 6rem;
}

#bio2 {
  padding-top: 7rem;
}
#bio3 {
  padding-top: 1rem;
}
#bio4 {
  padding-top: 3rem;
}

#learn-more {
  text-align: center;
  background: #333;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
}

#learn-more h1 {
  width: 150px;
  border-bottom: #f4f4f4 solid 1px;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1rem;
}

a:hover {
  color: #eece1a;
}

/* Responsiveness */
@media (max-width: 969px) {
  .showcase {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  #title-div {
    padding-top: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
    width: 30vw;
  }
  h1 {
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
}

@media (max-width: 560px) {
  .showcase {
    display: grid;
    grid-template-columns: 1fr;
  }
  #title-div {
    padding-top: 0;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 60vw;
  }
  #img-caption {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #666;
  }

  #tribute-info {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    grid-template-areas:
      "bio1"
      "bio2"
      "bio3"
      "bio4";
  }
  #bio1,
  #bio2,
  #bio3,
  #bio4 {
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #bio1 {
    grid-area: bio1;
  }
  #bio2 {
    grid-area: bio2;
  }
  #bio3 {
    grid-area: bio3;
  }
  #bio4 {
    grid-area: bio4;
  }
}
